<!DOCTYPE html>
<html lang="en">
<head>
{%  load static %}
	{% load widget_tweaks %}
    <title>Title</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bootstrap Elegant Table Design</title>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,500" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href='{% static "css/linearicons.css" %}'>
	<link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
	<link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
	<link rel="stylesheet" href='{% static "css/owl.carousel.css" %}'>
	<link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
	<link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
	<link rel="stylesheet" href='{% static "css/main.css" %}'>
<script src='{% static "js/jquery-2.2.4.min.js" %}'></script>
	<Style>
		body {
  background: grey;
  background: linear-gradient(to right, grey, cyan);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}


	</Style>

</head>
<body>
<div style="position: relative; height: 80px;background-color:#1c87c9;">
	<!-- Start Header Area -->
<header class="default-header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<!--<img src='{% static "images/logo.png" %}' alt=""> -->
					<h3><b>Voice</b></h3>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li><a class="active" href='{% url "adminhome" %}'>Home</a></li>
						<!--<li><a class="active" href='{% url "requestpg" %}'>Requests</a></li>-->
						<li><a class="active" href='{% url "adminlogin" %}'>Login</a></li>
						<!--<li><a class="active" href='{% url "account_logout" %}'>Register</a></li>-->



					</ul>
				</div>
			</div>
		</nav>
	</header>

</div><br>
<section>
 <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h3 class="card-title text-center mb-5 fw-light fs-5">Register</h3>
              <h4><b>{{Status}}</b></h4>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <div class="form-floating mb-3">
                <input type="text" class="form-control" id="user" name="user" placeholder="User name">
                <label for="user">User name</label>
              </div>
				<div class="form-floating mb-3">
                <input type="text" class="form-control" id="fullnm" name="fullnm" placeholder="Full name">
                <label for="user">Full name</label>
              </div>

              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                <label for="email">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
              </div>
               <div class="form-floating mb-3">
                <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Password">
                <label for="repassword">Confirm Password</label>
              </div>

				<div class="form-floating mb-3">
                    <table class="table table-borderless"><tr><td><label for="accntype">Account type</label></td><td><select name="accntype" class="form-control" id="accntype">
                   <option value="admin">Admin</option>

             </select></td></tr></table>

              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="country"  name="country" placeholder="Country">
                <label for="user">Country</label>
              </div>
				<div class="form-floating mb-3">
                <input type="text" class="form-control" id="city" name="city" placeholder="city">
                <label for="user">City</label>
              </div>

              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Register
                  </button>
              </div>
              <hr class="my-4">


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section>
	<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> AadiRishiinfotech</a>
  </div>
  <!-- Copyright -->

</footer>
</div>
	</section>
</div>
</body>




	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src='{% static "vendor/bootstrap.min.js" %}'></script>
	<script src='{% static "js/jquery.ajaxchimp.min.js" %}'></script>
	<script src='{% static "js/parallax.min.js" %}'></script>
	<script src='{% static "js/owl.carousel.min.js" %}'></script>
	<script src='{% static "js/isotope.pkgd.min.js" %}'></script>
	<script src='{% static "js/jquery.nice-select.min.js" %}'></script>
	<script src='{% static "js/jquery.magnific-popup.min.js" %}'></script>
	<script src='{% static "js/jquery.sticky.js" %}'></script>
	<script src='{% static "js/main.js" %}'></script>
</html>