{% extends "adminbase.html" %}
{% load static %}
	{% load widget_tweaks %}

{% block content %}
<div class="container-xl">


<h2 class="text-center">Voices <b>Admin</b></h2>
<!--<div class="float-right p-2">
	<a class="active" href='{% url "adminusrlist" %}'>
		<button type="button" class="btn btn-primary btn-lg">User List</button></a>
<button type="button" class="btn btn-secondary btn-lg">Add credit</button>
</div> -->

		<section class="ftco-section p-3">
		<div class="container p-4">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">

				</div>
			</div>
			<h3><b>{{status}}</b></h3>
             <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
			<div class="form-floating mb-3">
                    <table class="table table-borderless"><tr><td><b>User: </b><input type="text"  size="12"  id="userid"  name="userid" value="{{ Creditlist.User_Id}}">
						</td><td><b>Credit: </b> <input type="text"  size="12"  id="credit"  name="credit" placeholder="{{Creditlist.Credits}}"></td>
                    <td></td><td></td></tr></table>
              </div>
                 <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Add Credit
                  </button>
              </div>
             </form>
		</div>
	</section>


</div>






{% endblock content %}

