{% extends "adminbase.html" %}
{% load static %}
	{% load widget_tweaks %}

{% block content %}
<div class="container-xl">


<h2 class="text-center">Voices <b>Admin</b></h2>


		<section class="ftco-section p-3">
		<div class="container p-4">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>User id:</th>
						      <th>Name:</th>
								<th>Email:</th>
						      <th>Country:</th>
								<th>City:</th>
								<th>Status:</th>
						      <th>Account Type:</th>
								<th>User Type:</th>
						      <th>Credit:</th>
								<th>Last Login:</th>
						      <th></th>

						    </tr>
						  </thead>

						  <tbody>
{% for x in page_obj %}
						    <tr>

						      <td>{{x.User_Id}}</td>
						      <td>{{x.Email}}</td>
						      <td>{{x.Name}}</td>
								<td>{{x.Country}}</td>
						      <td>{{x.City}}</td>
								 <td>{{x.Status}}</td>
						      <td>{{x.Account_type}}</td>
						      <td>{{x.User_type}}</td>
								<td>{{x.Credits}}</td>
						      <td>{{x.Last_login}}</td>

						    </tr>

                             {% endfor %}

						  </tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</section>


</div>


<div class="float-left">
	 <div class="container p-4">

    <div class="row">
	<div class="pagination ">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
	</div>
	 </div>
</div><br>

{% endblock content %}
{% block footer %}

<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> AadiRishiinfotech</a>
  </div>
  <!-- Copyright -->

</footer>
{% endblock footer %}

