{% extends "adminbase.html" %}
{% load static %}
	{% load widget_tweaks %}

{% block content %}
<div class="container">
	<h2 class="text-center">Voices User Details</b></h2><br>
<div class="row">

		<table class="table">
			<tr><td><b>Request No:</b></td><td>{{approver.List_id}}</td></tr>
            <tr><td><b>Name:</b></td><td>{{approver.User_id}}</td><td><b>Email:</b></td><td></td></tr>
            <tr><td><b>Char Count:</b></td><td>{{approver.Char_count}}</td><td><b>Voice name:</b></td><td>{{approver.Voice_id}}</td></tr>
            <tr><td><b>Voice language:</b></td><td>{{approver.Language_id}}</td><td><b>Voice artist:</b></td><td>{{approver.Voice_userid}}</td></tr>
            <tr><td><b>User request notes:</b></td><td>{{approver.Notes}}</td></tr>
		</table>
        <table class="table">
            <tr><td><b>Script text:</b></td><td>{{approver.Script_text}}</td><td></td><td></td></tr>
            <tr><td><b>Delivery date:</b></td><td>{{approver.Delivery_date}}</td><td><b>Voice artist quoted price:</b></td><td>{{approver.Voice_Price}}</td></tr>

        </table>

<div class="float-right p-2">
	<a class="active" href='{% url "adminappvpg" approver.List_id %}'>
		<button type="button" class="btn btn-primary btn-lg">Approve</button></a>
	<a class="active" href='{% url "adminreject" approver.List_id %}'>
		<button type="button" class="btn btn-secondary btn-lg">Reject</button></a>
</div>
</div><br>


{% endblock content %}
{% block footer %}

<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> AadiRishiinfotech</a>
  </div>
  <!-- Copyright -->

</footer>
{% endblock footer %}
