{% extends "adminbase.html" %}
{% load static %}
	{% load widget_tweaks %}

{% block content %}

<div class="container-xl">


<h2 class="text-center">Voices <b>Admin</b></h2>
<div class="float-right p-2">
	<a class="active" href='{% url "adminusrlist" %}'>
		<button type="button" class="btn btn-primary btn-lg">User List</button></a>
	<a class="active" href='{% url "admincreditlist" %}'>
		<button type="button" class="btn btn-secondary btn-lg">Add credit</button></a>
</div>

		<section class="ftco-section p-3">
		<div class="container p-4">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>Request No</th>
						      <th>User</th>
								<th>Char Count</th>
						      <th>Voice Name</th>
								<th>Voice Artist</th>
						      <th></th>

						    </tr>
						  </thead>

						  <tbody>
{% for x in page_obj %}
						    <tr>

						      <td>{{x.List_id}}</td>
						      <td>{{x.User_id}}</td>
						      <td>{{x.Char_count}}</td>
								<td>{{x.Voice_id}}</td>
						      <td>{{x.Voice_userid}}</td>
						      <td><button type="button" class="btn btn-default">
								  <a  href="{% url 'admindtpg' x.List_id   %}">Details
				                 </a>
							  </button></td>
						    </tr>

                             {% endfor %}

						  </tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</section>


</div>


<div class="float-left">
	 <div class="container p-4">

    <div class="row">
	<div class="pagination ">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
	</div>
	 </div>
</div>

{% endblock content %}
{% block footer %}

<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> AadiRishiinfotech</a>
  </div>
  <!-- Copyright -->

</footer>
{% endblock footer %}
