{% extends "artistbase.html" %}
{% load static %}
	{% load widget_tweaks %}


{% block content %}
<div class="container">
<br>
	<h2 class="text-center">Voices upload</b></h2><br>

<section class="project-area section-gap-top" id="project" >
		 <div class="container">
    <div class="py-5 text-center bg-secondary text-white">

     <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

	<table class="table table-borderless ">

		<tr class="center"> <td>Request Id:<label  id="req_id"  name="req_id">{{list_id}}</label></td><td>
			Voice Name:<input type="text" id="voicename" name="voicenm"></td><td></td><td>Voice File:<input type="file" id="myFile" name="myfile"></td></tr>
	</table>


      <input type="submit" class="btn btn-danger" value="Upload">
     </form>
     </div>
		 </div>
	</section>




</div>
{% endblock content %}


{% block footer %}
	<!-- start footer Area -->
	<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> AadiRishiinfotech</a>
  </div>
  <!-- Copyright -->

</footer>

<script>
	$(document).ready(function() {

var status1 = {{checkid1}};

 if(status1 == 0){
	 $(document).ready(function () {

               $('input').attr('disabled', 'disabled');
			   $('textarea').attr('disabled', 'disabled');

	 });
 }
});

</script>
{% endblock footer %}