<!DOCTYPE html>
<html lang="en">
<head>

{%  load static %}
	{% load widget_tweaks %}
    {% load socialaccount %}
{% providers_media_js %}
    <title>Title</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bootstrap Elegant Table Design</title>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,500" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href='{% static "css/linearicons.css" %}'>
	<link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
	<link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
	<link rel="stylesheet" href='{% static "css/owl.carousel.css" %}'>
	<link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
	<link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
	<link rel="stylesheet" href='{% static "css/main.css" %}'>
<script src='{% static "js/jquery-2.2.4.min.js" %}'></script>
	<Style>
		body {
  background: grey;
  background: linear-gradient(to right, grey, cyan);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}


	</Style>

</head>
<body>
<div style="position: relative; height: 80px;background-color:#1c87c9;">
	<!-- Start Header Area -->
<header class="default-header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<!--<img src='{% static "images/logo.png" %}' alt=""> -->
					<h3><b>Voice</b></h3>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
					<ul class="navbar-nav">
					    <li><a class="active" href='{% url "artisthome" %}'>Home</a></li>
						<!--<li><a class="active" href='{% url "requestpg" %}'>Requests</a></li>-->
						<li><a class="active" href='{% url "artistlogin" %}'>Login</a></li>
						<li><a class="active" href='{% url "artistRegister" %}'>Register</a></li>


					</ul>
				</div>
			</div>
		</nav>
	</header>

</div><br>
<section>
 <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h3 class="card-title text-center mb-5 fw-light fs-5">Sign In</h3>
              {% load i18n %}


    <p >Welcome,<label id="2"> {{ user.username }} </label>!</p>

              {% if user.is_authenticated or session %}
<a class="active" href='{% url "account_logout" %}'>Logout</a>
 {% else %}
              <p style="color:red;">{{Status}}</p>

           <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="username" name="username" placeholder="please enter email..">
                <label for="username">Email</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
              </div>
              <div class="form-floating mb-3">
                    <table class="table table-borderless"><tr><td><label for="accntype">Account type</label></td><td><select name="accntype" class="form-control" id="accntype">

                   <option value="artist">Artist</option>
                    <option value="user">User</option>


             </select></td></tr></table>

              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                <label class="form-check-label" for="rememberPasswordCheck">
                  Remember password
                </label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                  in</button>
              </div>
                 </form><br>
            <div class="d-grid">
                <a href="{% provider_login_url 'google' %}">
                  Forgot password
                </a>
                <a href="{% url 'artistRegister' %}">or  register</a>
              </div>
              <!--<hr class="my-4">
              <div class="d-grid mb-2">
                  <a href="{% provider_login_url 'google' %}">
                <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit" id="googleid">
                  <i class="fab fa-google me-2"></i> Sign in with Google
                </button></a>
              </div>
              <div class="d-grid">
                  <a href="{% provider_login_url 'facebook'   method='js_sdk' %}">-->
                  <!--<a href="{% url 'social:begin' 'facebook' %}">-->
                <!---<button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                  <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
                </button></a>
              </div>-->

                {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section>
	<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> AadiRishiinfotech</a>
  </div>
  <!-- Copyright -->

</footer>
</div>
	</section>
</div>
</body>




	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src='{% static "vendor/bootstrap.min.js" %}'></script>
	<script src='{% static "js/jquery.ajaxchimp.min.js" %}'></script>
	<script src='{% static "js/parallax.min.js" %}'></script>
	<script src='{% static "js/owl.carousel.min.js" %}'></script>
	<script src='{% static "js/isotope.pkgd.min.js" %}'></script>
	<script src='{% static "js/jquery.nice-select.min.js" %}'></script>
	<script src='{% static "js/jquery.magnific-popup.min.js" %}'></script>
	<script src='{% static "js/jquery.sticky.js" %}'></script>
	<script src='{% static "js/main.js" %}'></script>
</html>
