<!DOCTYPE html>
<html lang="zxx" class="no-js">
{%  load static %}

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Arclabs Architecture</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,500" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href='{% static "css/linearicons.css" %}'>
	<link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
	<link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
	<link rel="stylesheet" href='{% static "css/owl.carousel.css" %}'>
	<link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
	<link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
	<link rel="stylesheet" href='{% static "css/main.css" %}'>
	<!---<link rel="stylesheet" href='{% static "css\style.css" %}' /> --->
</head>

<body>

	<!-- Start Header Area -->
	<header class="default-header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand" href='{% url "homepage" %}'>
					<!--<img src='{% static "images/logo.png" %}' alt=""> -->
					<h3><b>Voice Artist</b></h3>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li><a class="active" href='{% url "artisthome" %}'>
							<button type="button" class="btn">Home</button></a></li>
						<li><a class="active" href='{% url "artistlist" %}'><button type="button" class="btn">Request list</button></a></li>
						{% if code == 1 %}
						<li><a class="active" href='{% url "artlogout" %}'><button type="button" class="btn">Logout</button></a></li>
						{% else %}
                         <li><a class="active" href='{% url "artistlogin" %}'><button type="button" class="btn">Login</button></a></li>
                        {% endif %}


					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!-- End Header Area -->

	<!-- start banner Area -->
	<section class="home-banner-area relative"  id="home" data-parallax="scroll" style="background-image: url('{% static 'images/music2.jpg' %}'); width='400'; height='500';">

		<h1 class="template-name">Music portal </h1>
		<div class="container">
			<div class="row fullscreen">
				<div class="banner-content col-lg-12">

						<br>

					</h1>

<h2>  {{user}}</h2>

				</div>
			</div>
		</div>

	</section>

	<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> AadiRishiinfotech</a>
  </div>
  <!-- Copyright -->

</footer>

	<!-- End footer Area -->

	<script src='{% static "js/vendor/jquery-2.2.4.min.js" %}'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src='{% static "js/vendor/bootstrap.min.js" %}'></script>
	<script src='{% static "js/jquery.ajaxchimp.min.js" %}'></script>
	<script src='{% static "js/parallax.min.js" %}'></script>
	<script src='{% static "js/owl.carousel.min.js" %}'></script>
	<script src='{% static "js/isotope.pkgd.min.js" %}'></script>
	<script src='{% static "js/jquery.nice-select.min.js" %}'></script>
	<script src='{% static "js/jquery.magnific-popup.min.js" %}'></script>
	<script src='{% static "js/jquery.sticky.js" %}'></script>
	<script src='{% static "js/main.js" %}'></script>
</body>

</html>