{% extends "artistbase.html" %}
{% load static %}
	{% load widget_tweaks %}


{% block content %}
<div class="container">
	<div class="float-right p-2">
		<a class="active" href='{% url "voiceupld" approver.List_id %}'>
			<button type="button" class="btn btn-info btn-lg">Upload Voice</button></a>
		<a class="active" href='{% url "voicereject" approver.List_id %}'>
			<button type="button" class="btn btn-info btn-lg">Reject</button></a>

</div><br>
	<h2 class="text-center">Voices User Details</b></h2><br>

<div class="row">

		<table class="table table-borderless">
			<tr><td><b>Request No:</b></td><td>{{approver.List_id}}</td></tr>
            <tr><td><b>Name:</b></td><td>{{approver.User_id}}</td><td><b>Email:</b></td><td></td></tr>
            <tr><td><b>Char Count:</b></td><td>{{approver.Char_count}}</td><td><b>Voice name:</b></td><td>{{approver.Voice_id}}</td></tr>
            <tr><td><b>Voice language:</b></td><td>{{approver.Language_id}}</td><td><b>Voice artist:</b></td><td>{{approver.Voice_userid}}</td></tr>
            <tr><td><b>User request notes:</b></td><td>{{approver.Notes}}</td></tr>
		</table>
        <table class="table table-borderless">
            <tr><td><b>Script text:</b></td><td>{{approver.Script_text}}</td><td></td><td></td></tr>
<tr><td></td></tr>
        </table>


	<h2>Accept Request</h2><br>
	</div>
	<div class="p-5">
<form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
	<table class="table table-success">
		<tr><td><b>Request_id:</b></td><td><input type="text" name="req_id" size="10" value="{{approver.List_id}}"/></td><td></td></tr>
		<tr><td><b>Price:</b></td><td><input type="text" name="price" size="10"/></td><td></td></tr>
		<tr><td><b>Delivery Date:</b></td><td><input type="date" name="Delirydt" /></td><td></td></tr>
		<tr><td>
			<button type="submit" class="btn btn-primary btn-lg">Accept</button></td></tr>

	</table>

</form>

</div>
</div>
{% endblock content %}


{% block footer %}


	<!-- start footer Area -->
	<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> AadiRishiinfotech</a>
  </div>
  <!-- Copyright -->

</footer>

<script>

$(document).ready(function() {

var status1 = {{checkid1}};

 if(status1 == 1){
	 $(document).ready(function () {

               $('input').attr('disabled', 'disabled');
			   $('textarea').attr('disabled', 'disabled');

	 });
 }
});


</script>
{% endblock footer %}