<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}

    <title>{% block title %}{% endblock title %}</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,500" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href='{% static "css/linearicons.css" %}'>
	<link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
	<link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
	<link rel="stylesheet" href='{% static "css/owl.carousel.css" %}'>
	<link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
	<link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
	<link rel="stylesheet" href='{% static "css/main.css" %}'>

<script src='{% static "js/jquery-2.2.4.min.js" %}'></script>

</head>
<body>

<div style="position: relative; height: 80px;background-color:#1c87c9;">
	<!-- Start Header Area -->
<header class="default-header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<!--<img src='{% static "images/logo.png" %}' alt=""> -->
					<h3><b>Voice</b></h3>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">

                <ul class="navbar-nav">
						<li><a class="active" href='{% url "artisthome" %}'>Home</a></li>
					    <li><a class="active" href='{% url "artistlist" %}'>Request list</a></li>
                        <li><a class="active" href='{% url "artlogout" %}'>Logout</a></li>



					</ul>


				</div>
			</div>
		</nav>
	</header>

</div><br>


{% block content %}{% endblock content %}

{% block footer %}{% endblock footer %}

{% block scripts %}{% endblock %}


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src='{% static "vendor/bootstrap.min.js" %}'></script>
	<script src='{% static "js/jquery.ajaxchimp.min.js" %}'></script>
	<script src='{% static "js/parallax.min.js" %}'></script>
	<script src='{% static "js/owl.carousel.min.js" %}'></script>
	<script src='{% static "js/isotope.pkgd.min.js" %}'></script>
	<script src='{% static "js/jquery.nice-select.min.js" %}'></script>
	<script src='{% static "js/jquery.magnific-popup.min.js" %}'></script>
	<script src='{% static "js/jquery.sticky.js" %}'></script>
	<script src='{% static "js/main.js" %}'></script>



</html>