{% extends "artistbase.html" %}
{% load static %}
	{% load widget_tweaks %}


{% block content %}
	<!-- End Header Area -->
	<section class="project-area section-gap-top" id="project">
		 <div class="container" >
<div >
<table>
 <tr><td><h3>thanks for accept......</h3></td></tr>
	<tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
	<tr><td>
		<a class="active" href='{% url "artistlist" %}'>
			<button class="w3-btn w3-black">Ok</button></a></td></tr>
	</table>
   </div>

   </div>
	</section>
	<!-- End top-section Area -->


{% endblock content %}

{% block footer %}

<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> AadiRishiinfotech</a>
  </div>
  <!-- Copyright -->

</footer>
{% endblock footer %}

