{% load socialaccount %}
{% providers_media_js %}
<html>

<head>
    <title>Google Registration</title>
</head>

<body>
   <table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>Name</th>
						      <th>Email</th>
								<th>Char Count</th>
						      <th>Voice Name</th>
								<th>Voice Artist</th>
						      <th></th>

						    </tr>
						  </thead>
						  <tbody>
						  {% for x in Listadmin %}
						    <tr>

						      <td>{{x.List_id}}</td>
						      <td>{{x.User_id}}</td>
						      <td>{{x.Char_count}}</td>
								<td>{{x.Voice_id}}</td>
						      <td>{{x.Voice_userid}}</td>
						      <td><button type="button" class="btn btn-primary">Details</button></td>
						    </tr>

                             {% endfor %}
						  </tbody>
						</table>

</body>

</html>
