<!DOCTYPE html>
<html lang="zxx" class="no-js">
{%  load static %}
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Arclabs Architecture</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,500" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href='{% static "css/linearicons.css" %}'>
	<link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
	<link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
	<link rel="stylesheet" href='{% static "css/owl.carousel.css" %}'>
	<link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
	<link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
	<link rel="stylesheet" href='{% static "css/main.css" %}'>
	<!---<link rel="stylesheet" href='{% static "css\style.css" %}' /> --->
</head>

<body>
<div style="position: relative; height: 80px;background-color:#1c87c9;">
	<!-- Start Header Area -->
	<section >
<header class="default-header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<!--<img src='{% static "images/logo.png" %}' alt=""> -->
					<h3><b>Voice</b></h3>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li><a class="active" href='{% url "homepage" %}'>Home</a></li>
						<li><a href='{% url "login" %}'>Login</a></li>


					</ul>
				</div>
			</div>
		</nav>
	</header>


</section >
</div>
	<!-- End Header Area -->
	<section class="project-area section-gap-top" id="project">
		 <div class="container" >
<div >
<table>
 <tr><td><h3>Welcome,Please login......</h3></td></tr>
	<tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
	<tr><td><button class="w3-btn w3-black">
<a href="{% url 'login'  %}" class="link">Login</a>
		</button></td></tr>
	</table>
   </div>

   </div>
	</section>
	<!-- End top-section Area -->



	<!-- start footer Area -->
	<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> AadiRishiinfotech</a>
  </div>
  <!-- Copyright -->

</footer>
</body>

<script src='{% static "js/vendor/jquery-2.2.4.min.js" %}'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src='{% static "js/vendor/bootstrap.min.js" %}'></script>
	<script src='{% static "js/jquery.ajaxchimp.min.js" %}'></script>
	<script src='{% static "js/parallax.min.js" %}'></script>
	<script src='{% static "js/owl.carousel.min.js" %}'></script>
	<script src='{% static "js/isotope.pkgd.min.js" %}'></script>
	<script src='{% static "js/jquery.nice-select.min.js" %}'></script>
	<script src='{% static "js/jquery.magnific-popup.min.js" %}'></script>
	<script src='{% static "js/jquery.sticky.js" %}'></script>
	<script src='{% static "js/main.js" %}'></script>
</html>