{% extends "Userbase.html" %}
{% load static %}
	{% load widget_tweaks %}

{% block content %}

<section>
<div class="container-xl">
<h2 class="text-center">Voices <b>Request</b></h2><br><br>

	<div class="container" >
    <div class="py-5 text-center bg-secondary text-white">
<h3><b>Status : &nbsp;{{Status}}</b></h3>

<form action="" method="" enctype="multipart/form-data">

  {% csrf_token %}
     <table class="table table-borderless">
		 <tr><td>Title:</td><td><textarea class="form-control" name="title" id="title" rows="2"></textarea></td>
		<td>Script:</td><td><textarea class="ckeditor form-control" onkeydown="totalChars(this)" rows="4" cols="30" id ="content" name="content"></textarea></td><td></td><td></td></tr>
		 <tr><td></td><td></td><td></td><td>    <div>Total Characters: <label id="totalChars">0</label></div></td></tr>

		</table>
		 <table class="table table-borderless">
		 <tr><td>Languages:</td><td>
			  <select class="form-control" name="language"id="language">
	   {% for x in lang %}
    <option>{{x.Lang_Name}}</option>
    {% endfor %}
  </select>
		 </td><td></td><td>Voice Type:
			 <input type="checkbox" id="human" name="voicetyp" onClick="ckChange(this)" value="Human">
<label for="human"> Is Human</label>
<input type="checkbox" id="nothumn" name="voicetyp" onClick="ckChange(this)" value="Not Human">
<label for="nothumn"> Is Not Human</label>


		 </td></tr>
		 <tr><td>Country:</td><td>
			 <select name="contry" class="form-control" id="contry">
				 {% for x in conty %}
                   <option value="{{x.Crty_Name}}">{{x.Crty_Name}}</option>
                  {% endfor %}
             </select>
		 </td></tr>
<tr><td>Voices:</td><td>
	     <select name="voices" class="form-control" id="voices">
				 {% for x in Voices %}
                   <option value="{{x.vc_voicenm}}">{{x.vc_voicenm}}/{{x.vc_gender}}</option>
                  {% endfor %}
            </select>

</td><td>Voices Effects:</td><td>
	        <select name="voicesEfft" class="form-control" id="voicesEfft">
				 {% for x in VoiceEfft %}
                   <option value="{{x.Vefft_Name}}">{{x.Vefft_Name}}</option>
                  {% endfor %}
            </select>

</td>
</tr>

	 </table>


<div id="master">
<div id ="my2" >
<table class="table table-borderless" >
<tr><td>Your Query:</td><td><textarea class="form-control" name="Query" id="Query" rows="3"></textarea></td><td></td></tr>


</table></div>
<div id ="my" >

	<h2>Space for 3rd party API Call</h2>

</div>

</div>
      <input type="submit" id="getDataId" class="btn btn-danger" value="Request">
     </form>
	</div></div>




</div>
	</section>



<script>
$(document).ready(function() {

var status1 = {{checkid1}};

 if(status1 == 0){
	 $(document).ready(function () {

               $('input').attr('disabled', 'disabled');
			   $('textarea').attr('disabled', 'disabled');

	 });
 }
});


var totalChars= function(input){
 document.getElementById('totalChars').innerHTML= input.value.length;

}


function ckChange(ckType){
    var ckName = document.getElementsByName(ckType.name);
    var checked = document.getElementById(ckType.id);

    if (checked.checked) {
      for(var i=0; i < ckName.length; i++){

          if(!ckName[i].checked){
              ckName[i].disabled = true;
          }else{
              ckName[i].disabled = false;
          }
      }
    }
    else {
      for(var i=0; i < ckName.length; i++){
        ckName[i].disabled = false;
      }
    }
}

$(document).ready(function() {
		$("#master").hide();
		$('#human').on('click',function(){
  if(this.checked){
             $("#my").hide();
			 $("#my2").show();
			 $("#master").show();
        }else
        {

		$("#master").hide();
        }
		});

		$('#nothumn').on('click',function(){
  if(this.checked){
             $("#my2").hide();
			 $("#master").show();
			 $("#my").show();
        }else
        {
       // $("#my2").show();
		$("#master").hide();

        }
		});
 });


$(document).ready(function() {
        $("#getDataId").click(function(){
var title = $("#title").val();
var content = $("#content").val();
var language = $("#language").val();
var voicetyp = $('input[name="voicetyp"]:checked').val();
var contry = $("#contry").val();
var voices = $("#voices").val();
var Query = $("#Query").val();
var status = 'Pending';
var voicesEfft = $("#voicesEfft").val();
var charCount =  $("#totalChars").text();
var req_id =  {{ Req_id }};
console.log(charCount);

$.ajax({
    url: "{% url 'RequestSubmit'  %}",
    type: "POST",
    data: { title:title,charCount: charCount,req_id:req_id, content:content,language:language,voicetyp:voicetyp,
    contry:contry,voices:voices,Query:Query,status:status,voicesEfft:voicesEfft,"csrfmiddlewaretoken" : "{{csrf_token}}"},
    success: function () {

        console.log("Success");
        alert("Request submitted...");
       location.reload();
       $('#content').html(data);
    },
    error: function () {
       console.log("error");
    }
});
$(document).ready(function () {

               $('input').attr('disabled', 'disabled');
			   $('textarea').attr('disabled', 'disabled');

	 });
});
});


</script>
 {% endblock content %}




