{% extends "Userbase.html" %}
{% load static %}
	{% load widget_tweaks %}

{% block content %}
<div class="container-xl">


<h2 class="text-center">Voices <b>Artist</b></h2>
<!--<div class="float-right p-2">
	<a class="active" href='{% url "adminusrlist" %}'>
		<button type="button" class="btn btn-primary btn-lg">User List</button></a>
<button type="button" class="btn btn-secondary btn-lg">Add credit</button>
</div> -->

		<section class="ftco-section p-3">
		<div class="container p-4">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>UserId</th>
						      <th>Voice Name</th>
						      <th>Premium</th>
								<th>language</th>
								<th>Voice type</th>
						      <th>Sample text</th>
								<th>Gender</th>
								<th>Voices</th>

						    </tr>
						  </thead>

						  <tbody>
{% for x in page_obj %}
						    <tr>

						      <td>{{x.vc_UserId}}</td>
						      <td>{{x.vc_voicenm}}</td>
								<td>{{x.vc_IsPremium}}</td>
						      <td>{{x.vc_Language_id}}</td>
								<td>{{x.vc_Voice_type}}</td>
						      <td>{{x.vc_Sample_text}}</td>
								<td>{{x.vc_gender}}</td>
								<td><audio controls="controls">
									<source src="http://{{domain}}{{x.vc_voice}}" type="audio/mp3" />
									Your browser does not support the audio element.
                                </audio></td>
						      <td></td>
						    </tr>
<tr></tr>
                             {% endfor %}

						  </tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</section>


</div>


<div class="float-left">
	 <div class="container p-4">

    <div class="row">
	<div class="pagination ">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
	</div>
	 </div>
</div><br>




{% endblock content %}

